@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-white: 0 0% 100%;
    --clr-dark-grey: 0 0% 10%;
    --foreground: var(--clr-dark-grey);
    --background: var(--clr-white);
    --radius: 0.5rem;
    --gap: 1rem;

/* ____________________________________ */

    --white: #FFFFFF;
    --black: #160F0F;
    --light-gray: #2B2626;
    --red : #E7002F;

    --clr-light:var(--white);
    --clr-dark:var(--black);
    --clr-secondary:var(--light-gray);
    --clr-main:var(--red);
    
  }
}

@layer utilities {
  .rotate-y-180{
    transform: rotateY(180deg);
  }
  
  .border-main{
    border-color: var(--clr-main);
  }
  
  /*  */

  .carousel-container .react-multi-carousel-item {
    padding: 2.5rem 0;
  }
  
  .custom-dot-list-style .react-multi-carousel-dot button {
    background-color: var(--light-gray) !important;
  }
  
  .custom-dot-list-style .react-multi-carousel-dot--active button {
    background-color: var(--clr-main) !important;
  }

  
}